.container{
  width:100%;
}

.userInputSection{
  width:1000px;
  margin: 0px auto;
}

h1{
  text-align:center;
}


.square{
  width:200px;
  height:200px;
  background-color: color;
  margin:6px;
}

#staging{
  display:flex;
  flex-wrap:wrap;
  margin: 10px auto 0px;
  width:60%;
}

#noGo{
display:inline;
margin-left:10px;
color:red;
}


#colorInput{
  background-color:lightgray;
  border-radius: 10px;
  margin: 0px 5px;
  border: none;
  height:25px;

}

#widthInput{
  background-color:lightgray;
  border-radius: 10px;
  margin: 0px 5px;
  border: none; 
  height:25px;
  
}


#heightInput{
  background-color:lightgray;
  border-radius: 10px;
  margin: 0px 5px;
 border: none; 
 height:25px;
  
}

button{
  background-color: white;
  border: 1px solid black;
  height:25px;
}

