# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/

# misc
*.zip

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ignores any file named "secret.txt"
secret.txt
# ignores any directory named "notes"
notes/
# ignores a file named "hidden.txt" located at the root of your working directory
/hidden.txt
# ignores a directory called "node_modules" located at the root of your working directory
/node_modules/
# ignores any file with a .xyz extension
*.xyz
# ignores any file or directory that begins in "cache", such as cache-file-01, cached_assets/, etc.
cache*
# ignores any file or directory that ends in "data", such as project_data/, big_file_of_data
*data
node_modules/





desktop.ini
JavaScript/object_master/script.js
React/box_generator/src/components/Generator.js
React/intro_to_react/intro/big_inversion.zip
React/intro_to_react/intro/project.zip
React/intro_to_react/intro/together.zip
React/intro_to_react/intro/src/App.css
React/intro_to_react/intro/src/App.js
React/intro_to_react/intro/src/components/PersonCard.js
React/lets-tailwind/.gitignore
React/lets-tailwind/craco.config.js
React/lets-tailwind/package-lock.json
React/lets-tailwind/package.json
React/lets-tailwind/README.md
React/lets-tailwind/tailwind.config.js
React/lets-tailwind/yarn.lock
React/lets-tailwind/public/favicon.ico
React/lets-tailwind/public/index.html
React/lets-tailwind/public/logo192.png
React/lets-tailwind/public/logo512.png
React/lets-tailwind/public/manifest.json
React/lets-tailwind/public/robots.txt
React/lets-tailwind/src/App.css
React/lets-tailwind/src/App.js
React/lets-tailwind/src/App.test.js
React/lets-tailwind/src/index.css
React/lets-tailwind/src/index.js
React/lets-tailwind/src/reportWebVitals.js
React/lets-tailwind/src/setupTests.js
React/lets-tailwind/src/Components/bars.svg
React/lets-tailwind/src/Components/hamburger.svg
React/lets-tailwind/src/Components/Header.js
React/lets-tailwind/src/Components/hero.jpg
React/lets-tailwind/src/Components/Hero.js
React/plotting_blocks/.gitignore
React/plotting_blocks/package-lock.json
React/plotting_blocks/package.json
React/plotting_blocks/plotting_blocks.zip
React/plotting_blocks/postcss.config.js
React/plotting_blocks/README.md
React/plotting_blocks/tailwind.config.js
React/plotting_blocks/yarn.lock
React/plotting_blocks/public/favicon.ico
React/plotting_blocks/public/index.html
React/plotting_blocks/public/logo192.png
React/plotting_blocks/public/logo512.png
React/plotting_blocks/public/manifest.json
React/plotting_blocks/public/robots.txt
React/plotting_blocks/src/App.css
React/plotting_blocks/src/App.js
React/plotting_blocks/src/App.test.js
React/plotting_blocks/src/index.css
React/plotting_blocks/src/index.js
React/plotting_blocks/src/logo.svg
React/plotting_blocks/src/reportWebVitals.js
React/plotting_blocks/src/setupTests.js
React/plotting_blocks/src/tailwind.css
React/plotting_blocks/src/Components/Advertisement.js
React/plotting_blocks/src/Components/Header.js
React/plotting_blocks/src/Components/Main.js
React/plotting_blocks/src/Components/Navigation.js
React/plotting_blocks/src/Components/style.module.css
React/plotting_blocks/src/Components/Subcontents.js
React/react_form/.gitignore
React/react_form/craco.config.js
React/react_form/hook_form.zip
React/react_form/More_forms.zip
React/react_form/package-lock.json
React/react_form/package.json
React/react_form/README.md
React/react_form/tailwind.config.js
React/react_form/yarn.lock
React/react_form/public/favicon.ico
React/react_form/public/index.html
React/react_form/public/logo192.png
React/react_form/public/logo512.png
React/react_form/public/manifest.json
React/react_form/public/robots.txt
React/react_form/src/App.css
React/react_form/src/App.js
React/react_form/src/App.test.js
React/react_form/src/index.css
React/react_form/src/index.js
React/react_form/src/logo.svg
React/react_form/src/reportWebVitals.js
React/react_form/src/setupTests.js
React/react_form/src/components/Data.js
React/react_form/src/components/Form.js
JavaScript/object_master/script.js
React/box_generator/src/components/Generator.js
React/intro_to_react/intro/project.zip
React/intro_to_react/intro/src/App.css
React/intro_to_react/intro/src/App.js
React/intro_to_react/intro/src/components/PersonCard.js
React/intro_to_react/intro/src/components/PersonCard.js
JavaScript/object_master/script.js
FullStack/full_stack_bp/client/.gitignore
FullStack/full_stack_bp/client/package-lock.json
FullStack/full_stack_bp/client/package.json
FullStack/full_stack_bp/client/README.md
FullStack/full_stack_bp/client/yarn.lock
FullStack/full_stack_bp/client/public/favicon.ico
FullStack/full_stack_bp/client/public/index.html
FullStack/full_stack_bp/client/public/logo192.png
FullStack/full_stack_bp/client/public/logo512.png
FullStack/full_stack_bp/client/public/manifest.json
FullStack/full_stack_bp/client/public/robots.txt
FullStack/full_stack_bp/client/src/App.css
FullStack/full_stack_bp/client/src/App.js
FullStack/full_stack_bp/client/src/App.test.js
FullStack/full_stack_bp/client/src/index.css
FullStack/full_stack_bp/client/src/index.js
FullStack/full_stack_bp/client/src/logo.svg
FullStack/full_stack_bp/client/src/reportWebVitals.js
FullStack/full_stack_bp/client/src/setupTests.js
FullStack/full_stack_bp/client/src/components/PersonForm.js
FullStack/full_stack_bp/client/src/views/Main.js
FullStack/full_stack_bp/server/package-lock.json
FullStack/full_stack_bp/server/package.json
FullStack/full_stack_bp/server/server.js
FullStack/full_stack_bp/server/config/mongoose.config.js
FullStack/full_stack_bp/server/controllers/person.controller.js
FullStack/full_stack_bp/server/models/person.model.js
FullStack/full_stack_bp/server/routes/person.routes.js
.gitignore
.gitignore
