.activeTab{
    width:100px;
    padding: 10px 0px;
    font-size: 20px;
    border:1px solid black;
    background-color:black;
    color:white;
    text-align:center;
    margin: 0px 3px;
  
}

.animated {
    transition-property: background-color;
    transition-duration: .5s;
  }



.notActiveTab{
    width:100px;
    padding: 10px 0px;
    font-size: 20px;
    border:1px solid black;
    background-color:white;
    color:black;
    text-align:center;
    margin: 0px 3px;
}

.tabContainer{
    display:flex;
    margin:10px 0px;
}
.displayBox{
    width:50%;
    border:1px solid black;
    height:300px;
    margin-left:3px;
    display:block;
}